<mat-toolbar color="primary" style="position: relative;">
  <div class="container">
    <h1 class="title">Blog Y</h1>
    <div class="navigation" *ngIf="user">
      <button
        mat-raised-button
        color="accent"
        [matMenuTriggerFor]="menu"
      >
        {{user.displayName}}
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          (click)="router.navigateByUrl('/account')"
        >
          Account
        </button>
        <button
          mat-menu-item
          (click)="router.navigateByUrl('/settings')"
        >
          Settings
        </button>
        <button
          mat-menu-item
          (click)="singOut()"
        >
          Sing Out
        </button>
      </mat-menu>
    </div>
    <div class="navigation" *ngIf="!user">
      <button
        class="navigation__button"
        mat-stroked-button
        (click)="router.navigateByUrl('/login')"
      >
        Login
      </button>
      <button
        class="navigation__button"
        mat-raised-button
        color="accent"
        (click)="router.navigateByUrl('/register')"
      >
        Register
      </button>
    </div>
  </div>
</mat-toolbar>
