<h2 mat-dialog-title>Upload photo (256px x 256px)</h2>
<mat-dialog-content class="mat-typography">
  <image-upload
    *ngIf="!isFileUploaded"
    class="imageUpload"
    buttonCaption="Select photo"
    [max]="1"
    [extensions]="['jpeg','png','jpg', 'svg']"
    [maxFileSize]="250 * 250"
    [style]="customStyle"
    [preview]="false"
    dropBoxMessage="or drop your photo here"
    [fileTooLargeMessage]="'Image is too large!'"
    (uploadFinished)="onUploadFinished($event)"
  >
  </image-upload>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>