@use '~/node_modules/quill/dist/quill.snow' as snow;

.quillEditor {
  display: block;
  width: 100%;
  max-width: 700px;
  height: max-content;
  margin: auto;

  &__saveButton {
    display: block;
    float: right;
  }
}

.ql-toolbar {
  display: block;
  width: 100%;
  max-width: 700px;
  margin: auto;
}

.editButtons {
  display: block;
  float: right;
}
