<div class="editButtons">
  <button
    class="quillEditor__editButton"
    mat-raised-button
    color="primary"
    (click)="handleUndo()"
  >
    Back
  </button>
  <button
    class="quillEditor__editButton"
    mat-raised-button
    color="primary"
    (click)="handleRedo()"
  >
    Forward
  </button>
</div>

<div #editor class="quillEditor">
    
</div>
<button
  class="quillEditor__saveButton"
  mat-raised-button
  [disabled]="!canSave()"
  color="primary"
  (click)="handleSave()"
>
  Save
</button>