<div 
  *ngIf="user"
  class="container"
>
  <h2 class="title title--2">Account</h2>
  <div class="content">
    <div class="content__row">
      <div class="content__title">
       Username:
      </div>
      <div class="content__data">
      {{user.username}}
      </div>
      <button
        class="content__editButton"
        mat-raised-button
        color="primary"
        (click)="edit('username')"
      >
        Edit
      </button>
    </div>
    <div class="content__row">
      <div class="content__title">
      Email:
      </div>
      <div class="content__data">
      {{ user.email }}
      </div>
      <button
        class="content__editButton"
        mat-raised-button
        color="primary"
        (click)="edit('email')"
      >
        Edit
      </button>
    </div>
    <div class="content__row">
      <div class="content__title">
      First Name:
      </div>
      <div class="content__data">
      {{ user.firstName }}
      </div>
      <button
        class="content__editButton"
        mat-raised-button
        color="primary"
        (click)="edit('firstName')"
      >
        Edit
      </button>
    </div>
    <div class="content__row">
      <div class="content__title">
      Last Name:
      </div>
      <div class="content__data">
      {{ user.lastName }}
      </div>
      <button
        class="content__editButton"
        mat-raised-button
        color="primary"
        (click)="edit('lastName')"
      >
        Edit
      </button>
    </div>
  </div>
</div>
