<mat-card
    *ngIf="isLoading else notLoading"
    style="display: flex; justify-content: center; align-items: center"
>
  <mat-spinner 
    color="primary" 
  >
  </mat-spinner>
</mat-card>

<ng-template #notLoading >
  <div *ngIf="!isUserAllowed() else editor">
    Sorry, you are not allowed to edit this article
  </div>
  <div class="settings">
    <div>
      <span>{{article?.isPublished ? 'Published' : 'Draft'}}</span>
      <button
        class="publishButton"
        mat-raised-button
        color="primary"
        (click)="handleIsPublishedChange()"
      >
        {{article?.isPublished ? 'Switch to draft' : 'Publish article' }}
      </button>
    </div>
    <div>
      <span>{{article?.allowComments ? 'Comments allowed' : 'Comments forbidden'}}</span>
      <button
        class="allowCommentsButton"
        mat-raised-button
        color="primary"
        (click)="handleAllowCommentsChange()"
      >
        {{article?.allowComments ? 'Turn off' : 'Allow' }}
      </button>
    </div>
  </div>
  <ng-template #editor>
    <div class="header">
      <div class="title">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input
            class="title__text"
            #titleInput
            matInput
            [value]="article?.name"
            (input)="isTitleChanged = true"
          >
        </mat-form-field>
        <button
          class="title__editButton"
          mat-raised-button
          [disabled]="!isTitleChanged"
          color="primary"
          (click)="handleTitleSave(titleInput.value)"
        >
          Save
        </button>
      </div>
    </div>


    <app-quill-editor
      [source]="article?.source"
      (save)="handleSaveSource($event)"
    ></app-quill-editor>
    <button
      class="viewArticleButton"
      mat-raised-button
      color="primary"
      (click)="viewArticle()"
    >
      View Article
    </button>
  </ng-template>
</ng-template>

