<mat-card
    *ngIf="isLoading else notLoading"
    style="display: flex; justify-content: center; align-items: center"
>
  <mat-spinner 
    color="primary" 
  >
  </mat-spinner>
</mat-card>

<ng-template #notLoading >
  <div *ngIf="!isUserAllowed() else editor">
    Sorry, you are not allowed to edit this article
  </div>
      
    <ng-template #editor>
      <app-quill-editor
      [source]="article?.source"
      (save)="handleSave($event)"
    ></app-quill-editor>
  </ng-template>
</ng-template>

