<mat-card
    *ngIf="isLoading else notLoading"
    style="display: flex; justify-content: center; align-items: center"
>
  <mat-spinner 
    color="primary" 
  >
  </mat-spinner>
</mat-card>

<ng-template #notLoading >
  <div *ngIf="!isUserAllowed() else editor">
    Sorry, you are not allowed to edit this article
  </div>
  <ng-template #editor>
    <div class="header">
      <div class="title">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input
            class="title__text"
            #titleInput
            matInput
            [value]="article?.name"
            (input)="isTitleChanged = true"
          >
        </mat-form-field>
        <button
          class="title__editButton"
          mat-raised-button
          [disabled]="!isTitleChanged"
          color="primary"
          (click)="handleTitleSave(titleInput.value)"
        >
          Save
        </button>
      </div>
    </div>


    <app-quill-editor
      [source]="article?.source"
      (save)="handleSave($event)"
    ></app-quill-editor>
    <button
      class="previewButton"
      mat-raised-button
      color="primary"
      (click)="showPreview()"
    >
      Preview
    </button>
  </ng-template>
</ng-template>

