@use '~/node_modules/quill/dist/quill.core' as core;
@use '~/node_modules/quill/dist/quill.snow' as snow;


.editor {
  display: block;
  width: 100%;
  height: 400px;
}

.saveButton {
  display: block;
  float: right;
}