.container {
  width: 90%;
  max-width: 800px;
  margin: auto;
}

.toolbar {
  display: flex;
  
  &__select {
    display: block;
    width: 200px;
    margin-right: 0.5rem;
    font-size: 0.9rem;
  }
}

.search {
  display: block;
  width: 100%;
  float: left;
}

table {
  display: block;
  float: left;
  width: 100%;
  user-select: none;
}

.paginator {
  display: block;
  float: right;
}

td, th {
  width: 25%;
}
