<div class="container">
  <mat-form-field
    appearance="outline"
    class="search"
  >
    <mat-label>Search</mat-label>
    <input
      (input)="handleFilterChange($event.target.value)"
      matInput
      #filter
    >
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <mat-toolbar class="toolbar">
    <mat-form-field appearance="outline" class="toolbar__select">
      <mat-label>Display: </mat-label>
      <mat-select (selectionChange)="handleDisplayChange($event.value)" [value]="state.display">
        <mat-option
          *ngFor="let option of displayOptionList"
          [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="toolbar__select">
      <mat-label>Sort By: </mat-label>
      <mat-select (selectionChange)="handleChange('sortBy',$event.value)" [value]="state.sortBy">
        <mat-option
          *ngFor="let option of getSortByOptionList()"
          [value]="option.id">
          {{option.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="toolbar__select">
      <mat-label> Order: </mat-label>
      <mat-select (selectionChange)="handleChange('orderBy',$event.value)" [value]="state.orderBy">
        <mat-option
          value="DESC">
          Descending
        </mat-option>
        <mat-option
          value="ASC">
          Ascending
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="toolbar__select">
      <mat-label>Show last: </mat-label>
      <mat-select (selectionChange)="handleChange('timeframe',$event.value)" [value]="state.timeframe">
        <mat-option
          *ngFor="let option of timeframeOptionList"
          [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar>
  <table mat-table [dataSource]="dataSource">

    <ng-container *ngIf="state.display === 'articles'">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <ng-container matColumnDef="authorUsername">
        <th mat-header-cell *matHeaderCellDef> Author </th>
        <td mat-cell *matCellDef="let row"> {{row.author.username}} </td>
      </ng-container>
  
      <ng-container matColumnDef="blogName">
        <th mat-header-cell *matHeaderCellDef> Blog name</th>
        <td mat-cell *matCellDef="let row"> {{row.blog.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="published">
        <th mat-header-cell *matHeaderCellDef> Published </th>
        <td mat-cell *matCellDef="let row"> {{formatDate(row.createdAt)}} </td>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="state.display === 'users'">
      <ng-container matColumnDef="firstLastName">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let row"> {{ row.username }} </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First name </th>
        <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last name </th>
        <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="blogName">
        <th mat-header-cell *matHeaderCellDef> Registered </th>
        <td mat-cell *matCellDef="let row"> {{formatDate(row.createdAt)}} </td>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="state.display === 'blogs'">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <ng-container matColumnDef="authorUsername">
        <th mat-header-cell *matHeaderCellDef> Author </th>
        <td mat-cell *matCellDef="let row"> {{row.author.username}} </td>
      </ng-container>
  
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef> Created </th>
        <td mat-cell *matCellDef="let row"> {{formatDate(row.createdAt)}} </td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="getColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: getColumns();"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{filter.value}}"</td>
    </tr>
  </table>

  <mat-card
    *ngIf="isLoading"
    style="display: flex; justify-content: center; align-items: center"
  >
    <mat-spinner 
      color="primary" 
    >
    </mat-spinner>
  </mat-card>

  <mat-paginator
    *ngIf="!isLoading"
    class="paginator"
    [length]="state.collectionSize"
    [pageSize]="state.pageSize"
    [pageSizeOptions]="itemsPerPageOptionList"
    [pageIndex]="state.filter ? state.filterPageIndex : state.pageIndex"
    (page)="handlePaginatorChange($event)"
  >
  </mat-paginator>
</div>