<div class="container">
  <div class="alert alert-danger" *ngIf="error">
    <p>{{ error }}</p>
  </div>
  <div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" *ngIf="!isLoading">
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label
          for="username"
        >Username</mat-label>
        <input
          matInput
          type="username"
          id="username"
          ngModel
          name="username"
          required
          minlength="4"
        >
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label
          for="email"
        >E-Mail</mat-label>
        <input
          matInput
          placeholder="example@gmail.com"
          type="email"
          id="email"
          ngModel
          name="email"
          required
          email
        >
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label
          for="password"
        >Password</mat-label>
        <input
          matInput
          type="password"
          id="password"
          ngModel
          name="password"
          required
          minlength="6"
        >
      </mat-form-field>
    </div>
    <div>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!registerForm.valid"
      >
        Register
      </button>
    </div>
  </form>
</div>
